/* The below media query ensures that the buttons are not visible in print */
@media print {
  @page { margin: 0; }  /*hides the auto header/footer */
	div.actionButtons {
		display: none !important;
	}
	header, footer, aside, nav, form, iframe, .menu, .hero, .adslot {
		display: none;
	}
	
	body {
		margin: 0;
		color: #000;
		background-color: #000;
    }
    
  article {
      column-width: 17em;
      column-gap: 3em;
  }
}